body {
    width: 100vw;
    margin: 0px;

}

p , h2{
    margin: 0px;
}

section {
    /* border: solid black; */
    margin-bottom: 50px;
}


* {
    box-sizing: border-box;
}

/* 
navbar at the top, split into two parts */

#navbar {
    width: 100vw;
    height: 120px;
    /* give narbar a constaned height */
    border-color: green;
}


#upper_navbar {
    width: 100%;
    background-color: blue;
    height: 40%;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;

}

#upper_navbar img {
    height: 90%;
}

#lower_navbar {
    width: 100%;
    background-color: white;
    height: 60%;
    display: flex;
    gap: 10px;
    padding: 15px;
    align-items: center;

}

/* Section highlighting recent drops */
#recent_product_showcase{
    /* border: red solid; */
}

/* container for picture items */
#showcase_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 100vw;
     margin-top: 20px;  
}

/* items in container  */
.showcase_container_item{
    border: solid blue 2px;
    width: 28%;
    position: relative;
    /* height: 40%; */
    display: flex; 
    background-repeat: no;
    background-size: 100% 100%;
    aspect-ratio: 0.75;
    align-items: flex-end;
    transition: 1s;   
}

/* added transition, grow slightly larger and move above other shiblings to be better viewable */
.showcase_container_item:hover{
    transform: scale(1.2);
    z-index: 3;
}




/* offsetting items to give design  */
#showcase_item_1{
    background-color: green;
    top: -18%;
    left: 5%; 
}

#showcase_item_2{
    background-color: rgb(18, 56, 244);
}

#showcase_item_3{
    background-color: rgb(214, 244, 18);
    aspect-ratio: 0.8;
    top: 18%;
    right:5%;
}









/* ulility classes for text */

.navbar_text {
    font-family: Helvetica, sans-serif;
    font-style: bold;
    font-size: 100%;
}

.text-white {
    color: white;
}

.recent_products_showcase_header{
    margin: 0px;
    background-color: none;
    font-family: Helvetica, sans-serif;
    font-style: bold;
    font-size: 50px;
    text-align: center;
    font-family: "Gasoek One", sans-serif;


}

.recent_products_showcase_text{
    margin: 0px;
    background-color: none;
    font-family: Helvetica, sans-serif;
    font-style: bold;
    font-size: 25px;
    text-align: center;
    color: rgb(91, 86, 234);


}




.gasoek-one-regular {
  font-family: "Gasoek One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
